.header {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #40916c;
  padding: 15px 10px;
  box-sizing: border-box;
}

.navIcon {
  font-size: 19px;
  color: #fff;
  margin: 0 10px;
}
