@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  width: 100vw;
  font-family: 'Lato', sans-serif;
  background-color: #495057;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.fa-spin {
  margin-top: 100px;
  font-size: 30px;
  color: #fff;
}
